:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);
  --warning: rgb(236, 64, 64);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --button: rgb(43 48 59);
  --gradient-2: hsl(221, 17%, 18%);
  --gradient-1: hsl(221, 24%, 13%);
}

* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}

.card-container {
  width: 88%;
  padding: 22px;
  box-sizing: border-box;
  /** CREATE GRADIENT */
  background: radial-gradient(
    at top,
    var(--gradient-2) 0%,
    var(--gradient-1) 90%
  );
  border-radius: 25px;
}

.rating-card {
  color: var(--White);
}

.rating-card img {
  background-color: var(--button);
  padding: 12px;
  border-radius: 100px;
}

.rating-card h2 {
  margin-block-end: 0;
  font-weight: 700;
}

.rating-card p {
  color: var(--light-grey);
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 28px 12px;
}

.rating span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--medium-grey);
  background-color: var(--button);
  padding: 12px;
  border-radius: 100px;
  height: 18px;
  aspect-ratio: 1 / 1;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 700;
}

.rating span:hover {
  background-color: var(--medium-grey);
  color: white;
}

.rating input {
  display: none;
}

.rating input:checked ~ span {
  background-color: var(--orange);
  color: white;
}

.warning {
    display: none;
    margin-block-start: 20px;
}

.warning p {
    color: var(--warning);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

button {
  background-color: var(--orange);
  border: none;
  width: 100%;
  height: 43px;
  border-radius: 100px;
  color: var(--White);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-block: 10px;
  cursor: pointer;
}

.rating-card button:hover {
  background-color: var(--White);
  color: var(--orange);
}

.thanks-card {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--light-grey);
}

.thanks-card img {
  width: 150px;
  margin-block: 12px;
}

.thanks-card p:first-of-type {
  color: var(--orange);
  font-size: 0.9rem;
  background-color: var(--button);
  padding: 7px 12px;
  border-radius: 100px;
  margin-block: 12px;
}

.thanks-card h2 {
  margin-block: 14px 12px;
  color: var(--White);
  font-weight: 600;
}

.thanks-card p:last-of-type {
  margin-block: 0 20px;
  font-size: 0.85rem;
  line-height: 1.35rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding-block-end: 10px;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 35em) {
  .card-container {
    width: 412px;
    padding: 30px;
  }

  .rating-card img {
    padding: 15px;
  }

  .rating-card h2 {
    margin-block-start: 26px;
  }

  .rating-card p {
    font-size: 0.95rem;
    line-height: 1.45rem;
  }

  .rating span {
    font-size: 1rem;
    padding: 15px;
  }

  button {
    margin-block: 18px 0;
    font-size: .9rem;
  }

  .thanks-card p:last-of-type {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
